.main{

    display: flex;
    justify-content: center;
    align-items: center;
width: 100%;
height: 100%;
flex-direction: column;
}
.async{
    width:30%;
    height: 30%;
    border: 1px solid red;

}
.but
{
    display: flex;
    gap: 10px;
}